version: apps/v1
kind: Deployment
metadata:
 name: go-hpa
spec:
 replicas: 1
 selector:
  matchLabels: 
   app: go-hpa
  template:
   metadata:
    labels:
     app: go-hpa
   spec:
    containers:
    - name: go-hpa
      image: lvmp7/go-hpa
      ports: 
      - containerPort: 8080

      resources:
        requests:
          cpu: "50m"
        limits:
          cpu: "100m"
  